.item {
  width: 20%;
  height: 250px;
  background-color: #81b1dab3;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item img {
  height: 20%;
  object-fit: contain;
}

.item h3 {
  font-family: "Sedan SC", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
}

.item p {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 10px;
  width: 90%;
}
